<script lang="ts">
  import { onMount } from "svelte";
  import { Writable, writable } from "svelte/store";
  import { AsyncUnzipInflate, Unzip } from "fflate";
  import { putFile } from "./db";
  import mime from "mime";

  import Log, { Msg } from "./Log.svelte";

  type Log = { msgs: Msg[]; tags: Record<string, Set<string>> };

  let logs: Writable<Record<string, Log>> = writable({});
  let inputType = "file";

  let files: FileList;
  $: if (files) {
    logs.set({});
    for (const file of files) {
      if (file.name.endsWith(".zip")) {
        loadZipStream(file.name, file.stream());
      } else if (file.name.endsWith(".ndjson")) {
        loadNdJson(file.name, file.stream());
      }
    }
  }

  let url = "./log.ndjson";

  onMount(fetchLogs);

  async function fetchLogs() {
    logs.set({});
    const resp = await fetch(url);
    let contentType = resp.headers.get("ContentType");
    if (contentType == "application/zip" || url.endsWith(".zip")) {
      await loadZipStream(url, resp.body);
    } else if (
      contentType == "application/x-ndjson" ||
      url.endsWith(".ndjson")
    ) {
      await loadNdJson(url, resp.body);
    }
  }

  async function loadZipStream(name: string, stream: ReadableStream) {
    const unzipper = new Unzip((stream) => {
      let fullName = `${name}/${stream.name}`;
      if (stream.name.endsWith(".ndjson")) {
        startLog(fullName);
        let decoder = new TextDecoder();
        let last = "";
        stream.ondata = (err, chunk, final) => {
          if (err) {
            console.error(err);
          } else {
            let text = last + decoder.decode(chunk, { stream: !final });
            let lines = text.split("\n");
            last = lines.pop();
            ingestLines(fullName, lines);
          }
        };
        stream.start();
      } else {
        let chunks = [];
        stream.ondata = async (err, chunk, final) => {
          chunks.push(chunk);
          if (final) {
            await putFile(
              fullName,
              new Blob(chunks, { type: mime.getType(stream.name) })
            );
          }
        };
        stream.start();
      }
    });
    unzipper.register(AsyncUnzipInflate);

    const reader = stream.getReader();
    while (true) {
      const { value, done } = await reader.read();
      if (done) {
        unzipper.push(new Uint8Array(), true);
        break;
      } else {
        unzipper.push(value, false);
      }
    }
  }

  async function loadNdJson(name: string, stream: ReadableStream) {
    startLog(name);
    const reader = stream.pipeThrough(new TextDecoderStream()).getReader();
    let last = "";
    while (true) {
      const { value, done } = await reader.read();
      if (done) break;
      let lines = (last + value).split("\n");
      last = lines.pop();
      ingestLines(name, lines);
    }
  }

  function startLog(name: string) {
    logs.update((l) => {
      l[name] = { msgs: [], tags: {} };
      return l;
    });
  }

  const notExtras = new Set([
    "level",
    "timestamp",
    "name",
    "message",
    "traceback",
  ]);

  function ingestLines(name: string, lines: string[]) {
    logs.update((l) => {
      let log = l[name];
      let logLines = lines.map((t) => {
        let obj = JSON.parse(t);
        for (const k of Object.keys(obj)) {
          if (!notExtras.has(k)) {
            if (!obj.extras) {
              obj.extras = {};
            }
            let v = obj[k];
            if (typeof v === "string") {
              log.tags[k] = log.tags[k]?.add(v) || new Set([v]);
            }
            obj.extras[k] = v;
            delete obj[k];
          }
        }
        return obj;
      });
      log.msgs = l[name].msgs.concat(logLines);
      return l;
    });
  }
</script>

<style>
  /* Color pallet: https://coolors.co/151515-a63d40-e9b872-90a959-6494aa */
  :global(html),
  :global(body) {
    background-color: #151515;
    color: #f6f7eb;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  :global(*) {
    box-sizing: border-box;
  }
  :global(body) {
    width: 100vw;
    height: 100vh;
  }
  main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .logs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 auto;
    height: 90vh;
  }
  @media only screen and (orientation: landscape) {
    .logs {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  }
  #fetch-form {
    display: inline;
  }
</style>

<main>
  <div>
    <select bind:value={inputType}>
      <option value="file">File</option>
      <option value="url">URL</option>
    </select>
    {#if inputType == 'file'}
      <input type="file" bind:files multiple />
    {:else if inputType == 'url'}
      <form on:submit|preventDefault={fetchLogs} id="fetch-form">
        <input type="text" bind:value={url} placeholder="URL" />
        <input type="submit" value="Download" />
      </form>
    {/if}
  </div>
  <div class="logs">
    {#each Object.entries($logs) as [name, { msgs, tags }]}
      <Log {name} {msgs} {tags} />
    {/each}
  </div>
</main>
