<script lang="ts">
  import { writable } from "svelte/store";
  import { Highlight } from "svelte-highlight";
  import { json, yaml } from "svelte-highlight/languages";

  export let name: string;
  export let blob: Blob;
  let language;
  let code = writable(null);
  $: if (blob) {
    switch (blob.type) {
      case "application/json":
        language = json;
        break;
      case "text/yaml":
      case "application/x-yaml":
        language = yaml;
        break;
      default:
        language = null;
        break;
    }
    if (language) {
      blob.text().then((t) => code.set(t));
    } else {
      code.set("");
      let worker = new Worker("hexdump.js");
      worker.onerror = console.error;
      worker.onmessage = (e) => code.update((c) => c + e.data);
      worker.postMessage(blob);
    }
  }
</script>

<style>
  .hexdump {
    white-space: pre-wrap;
    max-height: 16rem;
    overflow: auto;
  }
  .hexdump::-webkit-scrollbar {
    opacity: 0;
  }
  .hexdump::-webkit-scrollbar-track {
    opacity: 0;
  }
  .hexdump::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #555;
  }
</style>

{#if $code}
  {#if language}
    <Highlight {language} {$code} />
  {:else}
    <div class="hexdump">{name}<br />{$code}</div>
  {/if}
{/if}
