<script context="module" lang="ts">
  export type Msg = {
    timestamp: string;
    level: string;
    name: string;
    message: string;
    traceback?: string;
    extras?: Record<string, any>;
    expanded?: boolean;
  };
</script>

<script lang="ts">
  import MsgView from "./MsgView.svelte";

  export let name: string;
  $: filePrefix = name.split("/").slice(0, -1).join("/");
  export let msgs: Msg[];
  export let tags: Record<string, Set<string>>;
  let filters: Record<string, Set<string>> = {};
  let module = "";

  let level = 1;
  let levels = {
    DEBUG: 0,
    INFO: 1,
    WARNING: 2,
    ERROR: 3,
    CRITICAL: 4,
  };

  let showTime = false;
  let showName = false;

  function selectFilters(tag: string, e: Event) {
    const target = e.target as HTMLSelectElement;
    filters[tag] = new Set(
      Array.from(target.options)
        .filter((o) => o.value && o.selected)
        .map((o) => o.value)
    );
    if (filters[tag].size == 0) {
      delete filters[tag];
    }
  }
</script>

<style>
  .log {
    margin: 0.25rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #393e41;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: auto;
    max-height: 100%;
  }
  .log::-webkit-scrollbar {
    opacity: 0;
  }
  .log::-webkit-scrollbar-track {
    opacity: 0;
  }
  .log::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #555;
  }
  .log-msgs {
    padding: 0;
  }
</style>

<div class="log">
  <div class="log-header">
    {name}
    <select bind:value={level}>
      {#each Object.keys(levels) as lvl}
        <option value={levels[lvl]}>{lvl}</option>
      {/each}
    </select>
    <input type="text" bind:value={module} placeholder="Module" />
    <label for="timestamp">Timestamp?</label>
    <input type="checkbox" bind:checked={showTime} />
    <label for="timestamp">Name?</label>
    <input type="checkbox" bind:checked={showName} />
    {#each Object.keys(tags) as tag}
      <label for={tag}>{tag}:</label>
      <select name={tag} on:input={(e) => selectFilters(tag, e)}>
        <option value="" />
        {#each Array.from(tags[tag]) as v}
          <option value={v}>{v}</option>
        {/each}
      </select>
    {/each}
  </div>
  <ul class="log-msgs">
    {#each msgs as msg}
      {#if levels[msg.level] >= level && msg.name.startsWith(module) && (!msg.extras || Object.keys(msg.extras)
            .filter((k) => k in filters)
            .every((k) => filters[k].has(msg.extras[k])))}
        <MsgView {...msg} {filePrefix} {showTime} {showName} />
      {/if}
    {/each}
  </ul>
</div>
