<script lang="ts">
  import FileViewer from "./FileViewer.svelte";
  import { Highlight } from "svelte-highlight";
  import { json } from "svelte-highlight/languages";
  import { anOldHope } from "svelte-highlight/styles";
  import { getFile } from "./db";

  export let filePrefix: string;
  export let showTime: boolean;
  export let showName: boolean;

  export let timestamp: string;
  export let level: string;
  export let name: string;
  export let message: string;
  export let traceback: string = null;
  export let extras: Record<string, any> = null;
  let expanded = false;
</script>

<style>
  li {
    width: 100%;
    list-style-type: none;
    padding: 0;
    font-family: "Source Code Pro", monospace;

    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .summary {
    display: flex;
    flex-direction: row;
  }
  .text {
    flex: 1 1 auto;
    overflow-x: hidden;
    white-space: nowrap;
    word-wrap: break-word;
  }
  .expanded > .text {
    white-space: normal;
  }
  .INFO {
    color: #90a959;
  }
  .WARNING {
    color: #e9b872;
  }
  .ERROR {
    color: #a63d40;
  }
  .CRITICAL {
    color: #c25b5f;
  }
  .extra-indicator {
    color: #666;
  }
  .tag {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #6494aa;
    color: #151515;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .key {
    font-weight: lighter;
  }
  .traceback {
    white-space: pre-wrap;
  }
</style>

<svelte:head>
  {@html anOldHope}
</svelte:head>

<li>
  <div class="summary" class:expanded on:click={() => (expanded = !expanded)}>
    <div class="text">
      {#if showTime}{timestamp}{/if}
      [<span class={level}>{level.padStart(8, String.fromCharCode(160))}</span>]
      {#if showName}{name}:{/if}
      {message}
    </div>
    {#if extras}
      {#each Object.entries(extras) as [k, v]}
        {#if typeof v === 'string' && !v.includes('\n')}
          <div class="tag"><span class="key">{k}:</span><b>{v}</b></div>
        {/if}
      {/each}
    {/if}
    {#if extras || traceback}
      <span>
        {#if expanded}-{:else}+{/if}
      </span>
    {/if}
  </div>
  {#if expanded && traceback}
    <div class="traceback">{traceback}</div>
  {/if}
  {#if expanded && extras}
    <Highlight language={json} code={JSON.stringify(extras, null, 2)} />
    {#if extras.links}
      {#each extras.links as link (link)}
        {#await getFile(`${filePrefix}/${link}`)}
          Loading...
        {:then blob}
          <FileViewer name={`${filePrefix}/${link}`} {blob} />
        {/await}
      {/each}
    {/if}
  {/if}
</li>
